<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Airline Security System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>

<div class="background-overlay"></div>

<div class="login-container">

    <div class="logo-section">

        <div class="logo-circle">
            ✈
        </div>

        <h1>Airline Security</h1>

        <p>
            Airport Security Management System
        </p>

    </div>

    <form action="/login" method="POST">

        <div class="input-group">

            <label>Username</label>

            <input
                type="text"
                name="username"
                placeholder="Enter Username"
                autocomplete="username"
                required>

        </div>

        <div class="input-group">

            <label>Password</label>

            <input
                type="password"
                name="password"
                placeholder="Enter Password"
                autocomplete="current-password"
                required>

        </div>

        <button type="submit">
            Login
        </button>

    </form>

    <div class="footer-text">
        Secure Airport Operations Portal
    </div>
    <p class="register-link">
    Don't have an account?
    <a href="/register">Register</a>
</p>

</div>

</body>

</html>